<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinanSESI</title>
    <link rel = "stylesheet" href = "./css/style.css"
</head>
<body>
    <header>
        <div class = "logo">
            <img src="./img/logo.png">
            FinanSESI</div>
        <nav>
            <a href="/">Home</a>
            <a href = "/sobre"> sobre</a>
            <a href = "/jurosSimples"> juros Simples </a>
            <a href = "/jurosComposto"> Juros Composto</a>
        </nav>
    </header>
    <main> 
        <%- body %> 
    </main>
    <footer>
        <img src="./img/logo_sesisenai.png" alt ""> 
    </footer>
</body>
</html>