<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinanSESI</title>
</head>
<body>
    <header>
        <div class = "logo"> FinanSESI</div>
        <nav>
            <a href="/">Home</a>
            <a href = "/sobre"> sobre</a>
            <a href = "/jurosSimples"> jurosSimples</a>
        </nav>
    </header>
    <main> 
        <%- body %> 
    </main>
    <footer>
        &copy; 2025 SESI / SENAI
    </footer>
</body>
</html>