<h1 class="index">Seja bem-vindo ao FinanSESI </h1>
<h3 class="index">Aprendendo programação e finanças</h3>

<div class="cards">
    <div class="card">
        <img src="img/juros_simples.png" alt="Juros Simples">
        <h2>Juros Simples</h2>
        <a href="/jurosSimples" class="button">Calcular</a>
    </div>
    <div class="card">
        <img src="img/juros_composto.png" alt="Juros Compostos">
        <h2>Juros Compostos</h2>
        <a href="/jurosComposto" class="button">Calcular</a>
    </div>
</div>
