body{
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color:  #007bff;
    color: #f3f0f0;
    padding: 15px;
    text-align: center;
    box-shadow: 0 3px rgba(0,0,0,0.5);
}

nav > a {
    color: #f3f0f0; 
    margin: 0 10px;
    text-decoration: none;
}

nav > a:hover{
    text-decoration: underline;
    font-weight: bold;
    scale: 2.0;
}

main{
    padding: 20px;
    flex: 1; 
}

footer{
    background-color:  rgb(19, 19, 19);
    color: rgb(251, 246, 246);
    text-align: center;
    padding: 10px; 
    width: 100%;
}
h2{
    text-align: center;
}

.dados-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

.dados-table > thead{
    background-color: #007bff;
    color: #f3f0f0;

}

.dados-table th, .dados-table td {
    padding: 12px 15px;
    border: 1px solid #000000;;
    text-align: left;
}

.dados-table tr:nth-child(even){
    background-color:  #007bff;
}
.dados-table img {
    width: 50px;   
    height: 50px;
    border-radius: 50%;  
    object-fit: cover;   
}


.btn {
    padding: 8px 12px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer; 
    color: #f3f0f0;; 
}

.btn-principal {
    background-color: #007bff;
}

.btn-edit{
    background-color: rgb(73, 169, 73);
}

.btn-delete{
    background-color: rgb(252, 8, 8);
    border: none;
    
}

.btn-hover{
    opacity: 0.8;
}
.btn-secundario{
    background-color: #6c757d;
}

.form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f3f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

.form-group input, .form-group select{
    border: 1px solid #ddd; 
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input:focus{
    border-color: #007bff;
}

.acoes {
    display: flex;
}
.lista-cards{
    margin-top:  20px; 
    display: flex; 
    flex-wrap: wrap;
    gap: 20px; 
}

.card-aluno {
    background-color: #fff;
    width: 300px;
    height:230px;
    border-radius: 16px;
    border-bottom: 0 2px 6px rgba(0,0,0.2);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-aluno > img{
    width: 98px;
    height: 98px;
    border-radius: 50%; 
    object-fit: cover;
}

.form-consulta > input, .form > select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-consulta{
    display: flex; 
    gap: 10px; 
}

.paginacao{
 display: flex;
 justify-content: center;
 margin-top: 20px;
 gap: 10px; 
}

.btn_flutuante{
    position : fixed; 
    bottom: 25px; 
    right: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0d6efd;
    color: #fff; 
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    cursor: ponter; 
}